@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* NAO MEXER NESSA LINHA DE BAIXO */
*, *::before, *::after {
  font-family: Poppins, sans-serif;
  -webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

html {
  background: linear-gradient(to bottom, rgb(15, 15, 15), rgb(25, 25, 30));
  background-attachment: fixed;

}

body, html {
  margin: 0;
  box-sizing: border-box;
}

p {
  color: #eee;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  max-width: 100vw;
}

.home {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    'header header'
    'sidebar main' 
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus
{
  -webkit-text-fill-color: #eee;
  -webkit-box-shadow: 0 0 0px 1000px #111 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.input-config {
  @apply pt-1 pr-2 pb-1 bg-transparent border-b-white border-b-2 text-white outline-none;
}

.textarea-config {
  @apply pt-1 pr-2 pb-1 bg-transparent border-white border text-white outline-none;
}

.green-gradient {
  @apply text-transparent from-custom-green to-custom-dark-green bg-gradient-to-r bg-clip-text
}

.label-config {
  @apply font-semibold tracking-tight text-custom-green;
}

.responsive-font {
  @apply [font-size:85%] lg:[font-size:100%]
}

@layer components {
  body {
    color: theme(colors.custom-white);
  }
}